:root {
  --healthEstimate-stroke-color: #000000;
  --healthEstimate-text-color: #FFFFFF;
  --healthEstimate-text-size: x-large;
  --healthEstimate-alignment: start;
  --healthEstimate-margin: -1em;
  --healthEstimate-width: 100px;
}

.healthEstimate {
  display: grid;
  font-size: var(--healthEstimate-text-size);
  grid-template-columns: 10em;
  grid-auto-rows: auto;
  align-content: var(--healthEstimate-alignment);
  justify-content: unsafe center;
  margin-top: var(--healthEstimate-margin);
  width: var(--healthEstimate-width) !important;
}

.healthEstimateColor {
  color: var(--healthEstimate-text-color);
  text-shadow:
    -1px -1px 1px var(--healthEstimate-stroke-color),
    0 -1px 1px var(--healthEstimate-stroke-color),
    1px -1px 1px var(--healthEstimate-stroke-color),
    1px 0 1px var(--healthEstimate-stroke-color),
    1px 1px 1px var(--healthEstimate-stroke-color),
    0 1px 1px var(--healthEstimate-stroke-color),
    -1px 1px 1px var(--healthEstimate-stroke-color),
    -1px 0 1px var(--healthEstimate-stroke-color);
}

#gradientExampleHE {
  margin: 15px 0 -30px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==');
  line-height: 0;
}

#gradientControlsHE {
  margin-bottom: 7px;
}

.numberHE {
  width: calc(100% - 2px);
  min-width: 20px;
  height: 24px;
  background: rgba(0, 0, 0, 0.05);
  padding: 1px 3px;
  margin: 0;
  color: #191813;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  border: 1px solid #7A7971;
  border-radius: 3px;;
  user-select: text;
}

.numberHE::-webkit-inner-spin-button,
.numberHE::-webkit-outer-spin-button {
  font-size: 1.3em;
  opacity: 1;
}

.sampleFrameHE {
  pointer-events: none;
}

.gradient-settings {
  display: flex;
  flex: 0 !important;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding-top: 7px;
}

.sp-preview {
  width: 30px;
  height: 20px;
  margin-right: 5px;
}

.sp-replacer {
  padding: 4px;
  flex: initial !important;
}

.grp-handler .sp-dd {
  display: none;
}

.grp-handler .sp-preview {
  width: 11px;
  height: 11px;
  margin-right: 0;
  border-radius: 11px;
}

.grp-handler .sp-preview-inner {
  border-radius: 11px;
}

.grp-handler .sp-replacer {
  padding: 1px;
  margin-left: -6px;
  border-radius: 15px;
}

/*.grp-wrapper {}*/
.grp-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair;
  background-image: none !important;
}

.grp-handler {
  width: 4px;
  margin-left: -2px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  height: 100%
}

.grp-handler-close {
  color: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  text-align: center;
  width: 15px;
  height: 15px;
  margin-left: -5px;
  line-height: 10px;
  font-size: 21px;
  cursor: pointer
}

.grp-handler-close-c {
  position: absolute;
  top: -17px
}

.grp-handler-drag {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  width: 100%;
  height: 100%
}

.grp-handler-selected .grp-handler-drag {
  background-color: rgba(255, 255, 255, 0.5)
}

.grp-handler-cp-c {
  display: none
}

.grp-handler-selected .grp-handler-cp-c {
  display: block
}

.grp-handler-cp-wrap {
  width: 15px;
  height: 15px;
  margin-left: -8px;
  border: 3px solid #FFFFFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 100%;
  cursor: pointer
}

.grp-handler-cp-wrap input[type=color] {
  opacity: 0;
  cursor: pointer
}