<div class="standard-form scrollable">
	{{#each tabs as |tab|}}
    <section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
		{{formGroup @root.fields.type value=tab.data widget=@root.widget index=tab.id localize=true}}
	</section>
	{{/each}}
</div>>