<div>
	{{#each tabs as |tab|}}
    <section class="tab scrollable {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
		{{formGroup @root.fields value=tab.data widget=@root.widget index=tab.id localize=true}}
	</section>
	{{/each}}
</div>>