<div class="form-group">
	<label>{{localize "healthEstimate.core.keybinds.dontMarkDead.name"}}</label>
	<input type="checkbox" name="flags.healthEstimate.dontMarkDead" data-dtype="Boolean" {{dontMarkDead}} />
	<p class="notes">{{dontMarkDeadHint}}</p>
</div>
<div class="form-group">
	<label>{{localize "healthEstimate.core.keybinds.hideEstimates.name"}}</label>
	<input type="checkbox" name="flags.healthEstimate.hideHealthEstimate" data-dtype="Boolean" {{hideHealthEstimate}} />
	<p class="notes">{{localize "healthEstimate.core.keybinds.hideEstimates.hint"}}</p>
</div>
{{#unless hasPlayerOwner}}
<div class="form-group">
	<label>{{localize "healthEstimate.core.keybinds.hideNames.name"}}</label>
	<input type="checkbox" name="flags.healthEstimate.hideName" data-dtype="Boolean" {{hideName}} />
	<p class="notes">{{hideNameHint}}</p>
</div>
{{/unless}}