
li.hm_message {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	margin: 2px;
	padding: 2px;
	border: 2px solid #191813d6;

	.message-content {
		font-size: 12px;
		color: white;
		text-align: center;
	}

	header.message-header {
		color: white;
		display: none;

		&:hover { display: flex; }
	}
}

li.hm_messageheal {
	background: #06a406 !important;
}

li.hm_messagetaken {
	background: #c50d19 !important;
}
