@keyframes healthEstimate-animation {
	0% {
		color: var(--healthEstimate-keyframe-0);
		text-shadow: -1px -1px 1px var(--healthEstimate-keyframe-0-outline),
			0 -1px 1px var(--healthEstimate-keyframe-0-outline), 1px -1px 1px var(--healthEstimate-keyframe-0-outline),
			1px 0 1px var(--healthEstimate-keyframe-0-outline), 1px 1px 1px var(--healthEstimate-keyframe-0-outline),
			0 1px 1px var(--healthEstimate-keyframe-0-outline), -1px 1px 1px var(--healthEstimate-keyframe-0-outline),
			-1px 0 1px var(--healthEstimate-keyframe-0)-outline;
	}
	20% {
		color: var(--healthEstimate-keyframe-20);
		text-shadow: -1px -1px 1px var(--healthEstimate-keyframe-20-outline),
			0 -1px 1px var(--healthEstimate-keyframe-20-outline), 1px -1px 1px var(--healthEstimate-keyframe-20-outline),
			1px 0 1px var(--healthEstimate-keyframe-20-outline), 1px 1px 1px var(--healthEstimate-keyframe-20-outline),
			0 1px 1px var(--healthEstimate-keyframe-20-outline), -1px 1px 1px var(--healthEstimate-keyframe-20-outline),
			-1px 0 1px var(--healthEstimate-keyframe-20-outline);
	}
	40% {
		color: var(--healthEstimate-keyframe-40);
		text-shadow: -1px -1px 1px var(--healthEstimate-keyframe-40-outline),
			0 -1px 1px var(--healthEstimate-keyframe-40-outline), 1px -1px 1px var(--healthEstimate-keyframe-40-outline),
			1px 0 1px var(--healthEstimate-keyframe-40-outline), 1px 1px 1px var(--healthEstimate-keyframe-40-outline),
			0 1px 1px var(--healthEstimate-keyframe-40-outline), -1px 1px 1px var(--healthEstimate-keyframe-40-outline),
			-1px 0 1px var(--healthEstimate-keyframe-40-outline);
	}
	60% {
		color: var(--healthEstimate-keyframe-60);
		text-shadow: -1px -1px 1px var(--healthEstimate-keyframe-60-outline),
			0 -1px 1px var(--healthEstimate-keyframe-60-outline), 1px -1px 1px var(--healthEstimate-keyframe-60-outline),
			1px 0 1px var(--healthEstimate-keyframe-60-outline), 1px 1px 1px var(--healthEstimate-keyframe-60-outline),
			0 1px 1px var(--healthEstimate-keyframe-60-outline), -1px 1px 1px var(--healthEstimate-keyframe-60-outline),
			-1px 0 1px var(--healthEstimate-keyframe-60-outline);
	}
	80% {
		color: var(--healthEstimate-keyframe-80);
		text-shadow: -1px -1px 1px var(--healthEstimate-keyframe-80-outline),
			0 -1px 1px var(--healthEstimate-keyframe-80-outline), 1px -1px 1px var(--healthEstimate-keyframe-80-outline),
			1px 0 1px var(--healthEstimate-keyframe-80-outline), 1px 1px 1px var(--healthEstimate-keyframe-80-outline),
			0 1px 1px var(--healthEstimate-keyframe-80-outline), -1px 1px 1px var(--healthEstimate-keyframe-80-outline),
			-1px 0 1px var(--healthEstimate-keyframe-80-outline);
	}
	100% {
		color: var(--healthEstimate-keyframe-100);
		text-shadow: -1px -1px 1px var(--healthEstimate-keyframe-100-outline),
			0 -1px 1px var(--healthEstimate-keyframe-100-outline),
			1px -1px 1px var(--healthEstimate-keyframe-100-outline),
			1px 0 1px var(--healthEstimate-keyframe-100-outline), 1px 1px 1px var(--healthEstimate-keyframe-100-outline),
			0 1px 1px var(--healthEstimate-keyframe-100-outline),
			-1px 1px 1px var(--healthEstimate-keyframe-100-outline),
			-1px 0 1px var(--healthEstimate-keyframe-100-outline);
	}
}
@-webkit-keyframes healthEstimate-animation {
	0% {
		color: var(--healthEstimate-keyframe-0);
		text-shadow: -1px -1px 1px var(--healthEstimate-keyframe-0-outline),
			0 -1px 1px var(--healthEstimate-keyframe-0-outline), 1px -1px 1px var(--healthEstimate-keyframe-0-outline),
			1px 0 1px var(--healthEstimate-keyframe-0-outline), 1px 1px 1px var(--healthEstimate-keyframe-0-outline),
			0 1px 1px var(--healthEstimate-keyframe-0-outline), -1px 1px 1px var(--healthEstimate-keyframe-0-outline),
			-1px 0 1px var(--healthEstimate-keyframe-0)-outline;
	}
	20% {
		color: var(--healthEstimate-keyframe-20);
		text-shadow: -1px -1px 1px var(--healthEstimate-keyframe-20-outline),
			0 -1px 1px var(--healthEstimate-keyframe-20-outline), 1px -1px 1px var(--healthEstimate-keyframe-20-outline),
			1px 0 1px var(--healthEstimate-keyframe-20-outline), 1px 1px 1px var(--healthEstimate-keyframe-20-outline),
			0 1px 1px var(--healthEstimate-keyframe-20-outline), -1px 1px 1px var(--healthEstimate-keyframe-20-outline),
			-1px 0 1px var(--healthEstimate-keyframe-20-outline);
	}
	40% {
		color: var(--healthEstimate-keyframe-40);
		text-shadow: -1px -1px 1px var(--healthEstimate-keyframe-40-outline),
			0 -1px 1px var(--healthEstimate-keyframe-40-outline), 1px -1px 1px var(--healthEstimate-keyframe-40-outline),
			1px 0 1px var(--healthEstimate-keyframe-40-outline), 1px 1px 1px var(--healthEstimate-keyframe-40-outline),
			0 1px 1px var(--healthEstimate-keyframe-40-outline), -1px 1px 1px var(--healthEstimate-keyframe-40-outline),
			-1px 0 1px var(--healthEstimate-keyframe-40-outline);
	}
	60% {
		color: var(--healthEstimate-keyframe-60);
		text-shadow: -1px -1px 1px var(--healthEstimate-keyframe-60-outline),
			0 -1px 1px var(--healthEstimate-keyframe-60-outline), 1px -1px 1px var(--healthEstimate-keyframe-60-outline),
			1px 0 1px var(--healthEstimate-keyframe-60-outline), 1px 1px 1px var(--healthEstimate-keyframe-60-outline),
			0 1px 1px var(--healthEstimate-keyframe-60-outline), -1px 1px 1px var(--healthEstimate-keyframe-60-outline),
			-1px 0 1px var(--healthEstimate-keyframe-60-outline);
	}
	80% {
		color: var(--healthEstimate-keyframe-80);
		text-shadow: -1px -1px 1px var(--healthEstimate-keyframe-80-outline),
			0 -1px 1px var(--healthEstimate-keyframe-80-outline), 1px -1px 1px var(--healthEstimate-keyframe-80-outline),
			1px 0 1px var(--healthEstimate-keyframe-80-outline), 1px 1px 1px var(--healthEstimate-keyframe-80-outline),
			0 1px 1px var(--healthEstimate-keyframe-80-outline), -1px 1px 1px var(--healthEstimate-keyframe-80-outline),
			-1px 0 1px var(--healthEstimate-keyframe-80-outline);
	}
	100% {
		color: var(--healthEstimate-keyframe-100);
		text-shadow: -1px -1px 1px var(--healthEstimate-keyframe-100-outline),
			0 -1px 1px var(--healthEstimate-keyframe-100-outline),
			1px -1px 1px var(--healthEstimate-keyframe-100-outline),
			1px 0 1px var(--healthEstimate-keyframe-100-outline), 1px 1px 1px var(--healthEstimate-keyframe-100-outline),
			0 1px 1px var(--healthEstimate-keyframe-100-outline),
			-1px 1px 1px var(--healthEstimate-keyframe-100-outline),
			-1px 0 1px var(--healthEstimate-keyframe-100-outline);
	}
}
.healthEstimateAnimate {
	animation-name: healthEstimate-animation;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	-webkit-animation-name: healthEstimate-animation;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
}
.healthEstimate.deadColor input[type="text"].color {
	flex: 2.97;
}
.healthEstimate.deadColor input[type="color"][data-edit] {
	flex: 1.4;
}
#health-estimate-style-form.form.healthEstimate section .standard-form {
	overflow: hidden auto;
	padding-inline-end: 0.25rem;
}
.form.healthEstimate .estimation-buttons button:disabled {
	cursor: default;
	color: grey;
}
.form.healthEstimate .form-group.gradient > span {
	padding-left: 0.5rem;
}
.form.healthEstimate input[type="number"] {
	text-align: center;
}
.form.healthEstimate .estimation-types td:has(input[type="number"]) {
	width: 2rem;
}
.form.healthEstimate .estimation-types input {
	background: none;
}
.form.healthEstimate .estimation-types input[type="text"],
.form.healthEstimate .estimation-types input[type="number"] {
	border: none;
	border-bottom: 1px solid var(--color-border-light-tertiary);
	border-radius: 0;
}
.form.healthEstimate .estimation-types input[type="text"]:focus,
.form.healthEstimate .estimation-types input[type="number"]:focus {
	clip-path: inset(1px 1px -15px 1px);
}
.form.healthEstimate .add-cell,
.form.healthEstimate .delete-cell {
	text-align: center;
}
.form.healthEstimate select[name="outlineMode"] {
	flex: 0 1 103px;
	margin-right: 10px;
}
.form.healthEstimate input[name="outlineIntensity"] {
	flex: 2;
}
.form.healthEstimate .sampleFrameHE img {
	width: 108px;
	margin-left: auto;
	margin-right: auto;
}
.form.healthEstimate textarea {
	resize: vertical;
	width: calc(100% - 2px);
	min-width: 20px;
	height: var(--form-field-height);
	background: rgba(0, 0, 0, 0.05);
	padding: 1px 3px;
	margin: 0;
	color: var(--color-text-dark-primary);
	font-family: inherit;
	font-size: inherit;
	text-align: inherit;
	line-height: inherit;
	border: 1px solid var(--color-border-light-tertiary);
	border-radius: 3px;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.form.healthEstimate textarea:disabled {
	border: none;
	color: var(--color-text-dark-secondary);
	resize: none;
}
.form.healthEstimate .estimation-buttons {
	margin-bottom: 0.5em;
}
.form.healthEstimate.estimationSettings th:first-of-type {
	padding-left: 3px;
	text-align: left;
}
#healthEstimate {
	display: grid;
	font-size: var(--healthEstimate-text-size);
	grid-template-columns: 10em;
	grid-auto-rows: auto;
	align-content: var(--healthEstimate-alignment);
	justify-content: unsafe center;
	margin-top: var(--healthEstimate-margin);
	width: var(--healthEstimate-width) !important;
}
.healthEstimateSample {
	display: flex;
	justify-content: center;
}
#gradientExampleHE {
	margin: 15px 0 -30px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==");
	line-height: 0;
}
#gradientControlsHE {
	margin-bottom: 7px;
}
li.hm_message {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	margin: 2px;
	padding: 2px;
	border: 2px solid #191813d6;
}
li.hm_message .message-content {
	font-size: 12px;
	color: white;
	text-align: center;
}
li.hm_message header.message-header {
	color: white;
	display: none;
}
li.hm_message:hover header.message-header {
	display: flex;
}
li.hm_messageheal {
	background: #06a406 !important;
}
li.hm_messagetaken {
	background: #c50d19 !important;
}
.gradient-settings {
	display: flex;
	flex: 0 0 auto !important;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	padding-top: 7px;
}
.sp-preview {
	width: 30px;
	height: 20px;
	margin-right: 5px;
}
.sp-replacer {
	padding: 4px;
	flex: initial !important;
}
.grp-handler .sp-dd {
	display: none;
}
.grp-handler .sp-preview {
	width: 11px;
	height: 11px;
	margin-right: 0;
	border-radius: 11px;
}
.grp-handler .sp-preview-inner {
	border-radius: 11px;
}
.grp-handler .sp-replacer {
	padding: 1px;
	margin-left: -6px;
	border-radius: 15px;
}
/*.grp-wrapper {
}
*/
.grp-preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: crosshair;
	background-image: none !important;
}
.grp-handler {
	width: 4px;
	margin-left: -2px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	height: 100%;
}
.grp-handler-close {
	color: rgba(0, 0, 0, 0.4);
	border-radius: 100%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	text-align: center;
	width: 15px;
	height: 15px;
	margin-left: -5px;
	line-height: 10px;
	font-size: 21px;
	cursor: pointer;
}
.grp-handler-close-c {
	position: absolute;
	top: -17px;
}
.grp-handler-drag {
	background-color: rgba(0, 0, 0, 0.5);
	cursor: col-resize;
	width: 100%;
	height: 100%;
}
.grp-handler-selected .grp-handler-drag {
	background-color: rgba(255, 255, 255, 0.5);
}
.grp-handler-cp-c {
	display: none;
}
.grp-handler-selected .grp-handler-cp-c {
	display: block;
}
.grp-handler-cp-wrap {
	width: 15px;
	height: 15px;
	margin-left: -8px;
	border: 3px solid #ffffff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	border-radius: 100%;
	cursor: pointer;
}
.grp-handler-cp-wrap input[type="color"] {
	opacity: 0;
	cursor: pointer;
}
